<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create</h1>
    <a href="/">back to Home</a>
    <div>
        <form action="/createuser" method="POST">
            <input type="text" name="uname" id="" placeholder="Username">
            <input type="text" name="email" id="" placeholder="Email">
            <input type="text" name="phone" id="" placeholder="Phone">
            <input type="text" name="img_url" id="" placeholder="img_url">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>